@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

.container{
    max-width: 1370px;
    width: 90%;
    margin-inline: auto;
}

.catalog{
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
    gap: 21px;
}